%button {
  display: inline-block;
  padding: 16px 25px;
  font-size: $font-size-base;
  border: none;
  cursor: pointer;
  transition: color .15s, background-color .15s;
}

.button-confirm {
  @extend %button;
  color: $c-white;
  background: $c-primary;
}

.button-clear {
  @extend %button;
  color: darken($c-gray, 15);
  background-color: transparent;
  transform: translateX(33px);
  outline: 0;

  &:hover {
    color: $c-red;
  }

  &:active {
    color: darken($c-red, 10);
  }
}