.cards {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 20px;
  margin-bottom: 10px;
  background-color: $c-gray-light;
  text-align: left;
  animation: ohide .2s linear, fadeInDown .25s forwards .2s;

  .img-wrapper {
    flex: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;

    > img {
      max-width: 100px;
      margin: auto;
    }
  }

  .temp {
    width: 220px;
    padding: 20px 60px 20px 0;
    font-size: rem(42);
    color: $c-base;
    text-align: center;
  }

  .info {
    .txt-h4 {
      margin-top: 0;
      margin-bottom: 6px;
    }

    p {
      margin: 0;
    }
  }
}