$base-duration					        : 1s;           // used in 1-base module
$base-origin 					          : top center;
$base-degrees 					        : 30deg;        // used in lightspeed & special modules

$base-timing-function-in		    : ease-in;
$base-timing-function-out		    : ease-out;
$base-timing-function-in-out	  : ease-in-out;

$base-distance					        : 6px; 		// used in fade, shake and bounce modules
$base-distance-big				      : 100px;       // used in fadeBig and bounce modules

@keyframes fadeInDown {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-$base-distance * 2);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes ohide {
  from {
     opacity: 0;
     visibility: hidden;
  }
  to {
     opacity: 0;
     visibility: hidden;
  }
}