// ------- positioning -------
.f-left {
  float: left;
}

.f-right {
  float: right;
}

.clearfix {
  @include clearfix;
}


// ------- absolute positioning -------
.abs-top {
  position: absolute;
  top: 0;
  &.lft-align {
    left: 0;
  }

  &.rgt-align {
    right: 0;
  }

  &.centered {
    left: 50%;
    transform: translateX(-50%);
  }
}


.abs-bottom {
  position: absolute;
  bottom: 0;
  &.lft-align {
    left: 0;
  }

  &.rgt-align {
    right: 0;
  }

  &.centered {
    left: 50%;
    transform: translateX(-50%);
  }
}


.abs-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &.lft-align {
    left: 0;
  }

  &.rgt-align {
    right: 0;
  }

  &.centered {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}


// ------- display -------
.block {
  display: block;
}

.inl-block {
  display: inline-block;
}


// ------- flexbox -------
.flex {
  display: flex;
  &.vr-ctr-align {
    align-items: center;
  }

  &.vr-bot-align {
    align-items: flex-end;
  }

  &.hr-ctr-align {
    justify-content: center;
  }

  &.hr-rgt-align {
    justify-content: flex-end;
  }

  &.centered {
    align-items: center;
    justify-content: center;
  }
}


.flex {
  &.is-wrapped {
    flex-wrap: wrap;
  }
}


// ------- visibility -------
.is-hidden {
  display: none !important;
}

.is-visible {
  opacity:1;
  visibility: visible;
}

.is-invisible {
  opacity:0;
  visibility: hidden;
}