@import '../../scss/01-settings/variables';
@import '../../scss/02-helpers/mixins';


.searcher {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 580px;
  margin: 0 auto;

  .searcher__input {
    width: 100%;
    max-width: 400px;
    padding: 14px 16px;
    margin-right: 10px;
    font-size: $font-size-normal;
    border: 1px solid $c-gray;
  }
}

.column {
  .cards {
    flex-direction: column-reverse;
  }
}
