h1,
.txt-h1 {
  font-size: $font-size-h1;
}

h2,
.txt-h2 {
  font-size: $font-size-h2;
}

h3,
.txt-h3 {
  font-size: $font-size-h3;
}

h4,
.txt-h4 {
  font-size: $font-size-h4;
}

h5,
.txt-h5 {
  font-size: $font-size-h5;
}

h6,
.txt-h6 {
  font-size: $font-size-h6;
}

// ------- links -------
a {
  text-decoration: none;
  color: inherit;
  transition: color $time;
}

// ------- text-sizes -------
.txt-md {
  font-size: $font-size-base;
}

.txt-base {
  font-size: $font-size-base;
}

.txt-sm {
  font-size: $font-size-small;
}

// ------- directions -------
.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

// ------- text weights -------
.txt-fw-light {
  font-weight: 300;
}

.txt-fw-regular {
  font-weight: 400;
}

strong,
b,
.txt-fw-bold {
  font-weight: 700;
}

// ------- screen reader only -------
.sr-only {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.txt-elipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}