//--------------------------------------------------------------------
// Variables components
//
//# 1. Colors
//# 2. Typography
//# 3. Icons
//# 4. Responsive
//# 5. Z-index
//# 6. Units

//======================================================================
//# 1. Colors
//======================================================================
$c-base:              #222 !default;
$c-white:             #fff !default;
$c-black:             #000 !default;
$c-primary:           #315796 !default;
$c-secondary:         #1a3b72 !default;
$c-gray-light:        #f2f3f4 !default;
$c-gray:              #cecece !default;
$c-gray-dark:         #444 !default;
$c-red:               #ff0000 !default;



//======================================================================
//# 2. Typography
//======================================================================
$base-unit: 			16;

@function em($pixels, $context: $base-unit) {
  @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $base-unit) {
  @return #{$pixels/$context}rem;
}

//----------------------------------
// Fonts-size
$font-base:             16px !default;
$font-size-normal:      rem(18) !default;
$font-size-base:      	rem(16) !default;
$font-size-small:       rem(14) !default;
$font-size-xsmall:      rem(12) !default;

$font-size-h1:          rem(40) !default;
$font-size-h2:          rem(36) !default;
$font-size-h3:         	rem(32) !default;
$font-size-h4:          rem(28) !default;
$font-size-h5:          rem(24) !default;
$font-size-h6:       	  rem(22) !default;

$font-family-base:      -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;


//======================================================================
//# 3. Icons
//======================================================================
$img-path: '/assets/img/';


//======================================================================
//# 4. Responsive
//======================================================================
$row-max-width: 		      1406px !default;
$min-device-width: 		   	320px; 						  // iPhone Portrait
$tablet-device-width: 	 	768px;						  // iPad Portrait
$document-width: 		      $row-max-width;			// Default Document
$max-device-width: 		   	2560px;						  // Max Document Size

// Pure css grid
$b-xs: 					          568px;		// .pure-u-sm-*
$b-sm: 					          768px;		// .pure-u-sm-*
$b-md: 					          1024px;		// .pure-u-sm-*
$b-lg:					          1200px;		// .pure-u-lg-*
$b-xl:					          1600px;		// .pure-u-lg-*

// Pure css grid max
$b-xxs-max: 				      ($b-xs - 1px) !default;
$b-xs-max: 				        ($b-sm - 1px) !default;
$b-sm-max: 				        ($b-md - 1px) !default;
$b-md-max: 				        ($b-lg - 1px) !default;
$b-lg-max: 				        ($b-xl - 1px) !default;


//======================================================================
//# 5. Z-index
//======================================================================
$z-layers: (
  'under':                -1,
  'default':              1,
  'above':                2,
  'upper':                3,
  'top':                  5
);


//======================================================================
//# 6. UNITS
//======================================================================
$time:               .2s;
