.container {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  min-height: 80vh;
  margin: 0 auto 20px;
  border-left: 1px solid $c-gray;
  border-right: 1px solid $c-gray;
  border-bottom: 1px solid $c-gray;

  .bg-img {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%) translateY(0%);
  }
}