@import '../scss/01-settings/variables';
@import '../scss/02-helpers/mixins';
@import '../scss/02-helpers/utilities';

.nav {
  width: 100%;
  margin-bottom: -1px;
  background-color: $c-primary;
  position: sticky; 
  top: 0;
  z-index: 5;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  .nav__list-item {
    flex: 1 1 33.33%;
    width: 33.33%;
    text-align: center;

    a {
      display: block;
      padding: 25px;
      font-size: $font-size-normal;
      color: $c-white;
      transition: background-color .15s;

      &:hover {
        background-color: lighten($c-primary, 5);
      }

      &:active,
      &.is-active {
        background-color: $c-secondary;
      }
    }
  }
}

.content-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
}