@import '../../scss/01-settings/variables';
@import '../../scss/02-helpers/mixins';

.sec {
  .card {
    // animations
    @for $i from 1 through 16 {
      &:nth-child(#{$i}) {
        animation: ohide ($i * .15s) linear, fadeInDown .25s forwards ($i * .15s);
      }
    }
  }
}