@import '../../scss/01-settings/variables';
@import '../../scss/02-helpers/mixins';

.card {
  &.card--expanded {
    padding: 0;
  }
}

.table-air-conditions {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  tr:nth-child(odd) {
    background-color: darken($c-gray-light, 5);
  }

  td {
    padding: 10px 20px;
    border: 1px solid $c-gray;
  }
}